Repository NoahPeres/ti4-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

mypy-src-strict:
  name: mypy-src-strict
  entry: uv run mypy src --show-error-codes --strict --warn-unused-ignores
  language: system
  pass_filenames: false

mypy-tests-standard:
  name: mypy-tests-standard
  entry: bash -c 'uv run mypy tests --show-error-codes || true'
  language: system
  pass_filenames: false

security-check:
  name: security-check
  entry: bash -c 'uv run pip install bandit > /dev/null 2>&1 && uv run bandit -r src/ -f json -ll -ii || true'
  language: system
  pass_filenames: false

runtime-type-check:
  name: runtime-type-check
  entry: bash -c 'PYTHONPATH=src uv run pytest tests/ -v --tb=short'
  language: system
  pass_filenames: false

Complete Rule 61 objective cards implementation
  .kiro/specs/rule-61-objective-cards/design.md
  .kiro/specs/rule-61-objective-cards/requirements.md
  .kiro/specs/rule-61-objective-cards/tasks.md
  OBJECTIVE_SYSTEM_MIGRATION_COMPLETE.md
  RULE_61_OBJECTIVE_CARDS_IMPLEMENTATION_COMPLETE.md
  docs/component_details/TI4 ability compendium.csv
  docs/component_details/TI4_objective_cards.csv
  docs/component_details/Ti4 Planets.csv
  scripts/query_objectives.py
  scripts/sanitize_csv_files.py
  src/ti4/core/game_state.py
  src/ti4/core/home_system_control_validator.py
  src/ti4/core/objective.py
  src/ti4/core/technology.py
  tests/test_anomaly_performance_validation.py
  tests/test_enhanced_objective_error_handling.py
  tests/test_home_system_control_integration.py
  tests/test_objective_card_data_models.py
  tests/test_objective_card_factory.py
  tests/test_objective_progression_mechanics.py
  tests/test_objective_system_exceptions.py
  tests/test_public_objective_setup_system.py
  tests/test_rule_61_objectives.py
  tests/test_rule_61_scoring_limits.py
  tests/test_rule_61_secret_objectives.py
  tests/test_rule_61_test_helpers.py
  tests/test_rule_98_victory_points.py
  update_objective_tests.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address PR 46 review feedback
  RULE_61_OBJECTIVE_CARDS_IMPLEMENTATION_COMPLETE.md
  scripts/query_objectives.py
  scripts/sanitize_csv_files.py
  src/ti4/core/home_system_control_validator.py
  src/ti4/core/objective.py
  tests/test_home_system_control_integration.py
  update_objective_tests.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address PR 46 review comments
  pr46_review_response.md
  scripts/query_objectives.py
  src/ti4/core/objective.py
Due: mypy-src-strict, security-check

Address PR 46 review feedback
  scripts/query_objectives.py
  src/ti4/core/objective.py
Due: mypy-src-strict, security-check

Address CodeRabbit PR 46 review feedback
  pr46_review_response.md
  scripts/query_objectives.py
  src/ti4/core/game_state.py
  src/ti4/core/objective.py
Due: mypy-src-strict, security-check

Address PR 46 CodeRabbit review feedback
  pr46_review_response.md
  scripts/query_objectives.py
  src/ti4/core/game_state.py
  src/ti4/core/objective.py
Due: mypy-src-strict, security-check

Add mandatory development standards for all AI agents
  .kiro/steering/ti4_development_standards.md
  README.md
Due: none

feat: Implement Rule 27 - Custodians Token (CRITICAL BLOCKER RESOLVED)
  .trae/lrr_analysis/27_custodians_token.md
  src/ti4/core/custodians_token.py
  src/ti4/core/planet.py
  tests/test_rule_27_custodians_token.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Fix critical game state mutation issue and address all review feedback
  src/ti4/core/agenda_phase.py
  src/ti4/core/custodians_token.py
  src/ti4/core/game_state.py
  src/ti4/core/planet.py
  tests/test_rule_27_custodians_token.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address CodeRabbit review feedback
  src/ti4/core/planet.py
Due: mypy-src-strict, security-check

Complete Rule 92 Trade Strategy Card implementation
  .kiro/specs/rule-92-trade-strategy-card/design.md
  .kiro/specs/rule-92-trade-strategy-card/requirements.md
  .kiro/specs/rule-92-trade-strategy-card/tasks.md
  .kiro/steering/agent_rule_implementor.md
  .trae/lrr_analysis/92_trade_strategy_card.md
  CRITICAL_GAPS_AND_NEXT_STEPS.md
  CRITICAL_PATH_IMPLEMENTATION_SEQUENCE.md
  IMPLEMENTATION_ROADMAP.md
  TASK_13_COMPLETION_SUMMARY.md
  TEST_COVERAGE_ENHANCEMENT_PLAN.md
  TEST_COVERAGE_GAPS_BY_RULE.md
  TI4_IMPLEMENTATION_STATUS_AUDIT_FINAL_DELIVERABLE.md
  src/ti4/core/strategy_cards/cards/trade.py
  tests/test_rule_92_end_to_end_integration.py
  tests/test_rule_92_trade_strategy_card.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address CodeRabbit review feedback for PR #49
  .kiro/specs/rule-92-trade-strategy-card/tasks.md
  .trae/lrr_analysis/92_trade_strategy_card.md
  CRITICAL_PATH_IMPLEMENTATION_SEQUENCE.md
  IMPLEMENTATION_ROADMAP.md
  src/ti4/core/strategy_cards/cards/trade.py
  tests/test_rule_92_end_to_end_integration.py
  tests/test_rule_92_trade_strategy_card.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

feat: Complete Rule 81 Status Phase implementation with comprehensive testing
  .kiro/specs/rule-81-status-phase-completion/design.md
  .kiro/specs/rule-81-status-phase-completion/requirements.md
  .kiro/specs/rule-81-status-phase-completion/tasks.md
  pyproject.toml
  src/ti4/core/status_phase.py
  src/ti4/core/status_phase_error_enhancements.py
  src/ti4/core/status_phase_performance.py
  tests/test_command_token_management_steps.py
  tests/test_draw_action_cards_step.py
  tests/test_enhanced_status_phase_manager.py
  tests/test_ready_cards_step.py
  tests/test_repair_units_step.py
  tests/test_return_strategy_cards_step.py
  tests/test_reveal_objective_step.py
  tests/test_round_transition_manager.py
  tests/test_score_objectives_step.py
  tests/test_status_phase_comprehensive_integration.py
  tests/test_status_phase_documentation.py
  tests/test_status_phase_error_handling.py
  tests/test_status_phase_infrastructure.py
  tests/test_status_phase_integration_task_15_1.py
  tests/test_status_phase_memory_optimization.py
  tests/test_status_phase_orchestrator.py
  tests/test_status_phase_performance.py
  tests/test_status_phase_performance_benchmarks.py
  tests/test_status_phase_performance_integration.py
  tests/test_status_phase_performance_integration_comprehensive.py
  tests/test_status_phase_system_integration_comprehensive.py
  tests/test_status_phase_validator.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Fix all status phase tests and linting issues
  .kiro/specs/rule-81-status-phase-completion/design.md
  .kiro/specs/rule-81-status-phase-completion/requirements.md
  .kiro/specs/rule-81-status-phase-completion/tasks.md
  src/ti4/core/status_phase.py
  src/ti4/core/status_phase_error_enhancements.py
  src/ti4/core/status_phase_performance.py
  tests/test_command_token_management_steps.py
  tests/test_enhanced_status_phase_manager.py
  tests/test_ready_cards_step.py
  tests/test_repair_units_step.py
  tests/test_return_strategy_cards_step.py
  tests/test_score_objectives_step.py
  tests/test_status_phase_documentation.py
  tests/test_status_phase_error_handling.py
  tests/test_status_phase_infrastructure.py
  tests/test_status_phase_integration_task_15_1.py
  tests/test_status_phase_orchestrator.py
  tests/test_status_phase_performance.py
  tests/test_status_phase_performance_benchmarks.py
  tests/test_status_phase_performance_integration.py
  tests/test_status_phase_performance_integration_comprehensive.py
  tests/test_status_phase_system_integration_comprehensive.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Apply Kiro IDE autofix and formatting
  pyproject.toml
  src/ti4/core/status_phase_error_enhancements.py
  tests/test_ready_cards_step.py
  tests/test_return_strategy_cards_step.py
  tests/test_reveal_objective_step.py
  tests/test_score_objectives_step.py
  tests/test_status_phase_orchestrator.py
  tests/test_status_phase_performance.py
  tests/test_status_phase_system_integration_comprehensive.py
  uv.lock
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Add critical rule: NEVER ignore mypy checks or tests on production code
  .kiro/steering/ti4_development_standards.md
Due: none

Address CodeRabbit review feedback for PR #50
  .kiro/steering/ti4_development_standards.md
  src/ti4/core/error_recovery.py
  src/ti4/core/planet_card.py
  src/ti4/core/status_phase_performance.py
  src/ti4/core/strategy_cards/game_state_adapter.py
  src/ti4/core/transactions.py
  src/ti4/core/unit.py
  src/ti4/performance/cache.py
  tests/test_performance_benchmarks.py
  tests/test_reveal_objective_step.py
  tests/test_status_phase_error_handling.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address CodeRabbit review feedback for PR #50
  src/ti4/core/error_recovery.py
  src/ti4/core/unit.py
  tests/test_reveal_objective_step.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address CodeRabbit review feedback for PR #50
  .kiro/steering/never_commit_failing_tests.md
  src/ti4/core/error_recovery.py
  src/ti4/core/unit.py
  tests/test_constants_usage.py
  tests/test_reveal_objective_step.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address CodeRabbit review feedback comprehensively
  .kiro/steering/never_commit_failing_tests.md
  src/ti4/core/error_recovery.py
  src/ti4/core/unit.py
  tests/test_reveal_objective_step.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Fix CI failures by skipping performance tests in CI environments
  pyproject.toml
  tests/test_performance_benchmarks.py
  tests/test_performance_cache.py
  tests/test_resource_performance_optimizations.py
  tests/test_status_phase_performance.py
  tests/test_status_phase_performance_benchmarks.py
  tests/test_status_phase_performance_integration.py
  tests/test_status_phase_performance_integration_comprehensive.py
Due: mypy-tests-standard, runtime-type-check

Fix pytest skipif condition for CI environment detection
  tests/test_performance_benchmarks.py
  tests/test_performance_cache.py
  tests/test_resource_performance_optimizations.py
  tests/test_status_phase_performance.py
  tests/test_status_phase_performance_benchmarks.py
  tests/test_status_phase_performance_integration.py
  tests/test_status_phase_performance_integration_comprehensive.py
Due: mypy-tests-standard, runtime-type-check

Address CodeRabbit PR #50 review feedback
  tests/test_status_phase_performance.py
  tests/test_status_phase_performance_benchmarks.py
  tests/test_status_phase_performance_integration_comprehensive.py
Due: mypy-tests-standard, runtime-type-check

Address CodeRabbit review feedback for PR #50
  tests/test_status_phase_performance.py
  tests/test_status_phase_performance_benchmarks.py
  tests/test_status_phase_performance_integration_comprehensive.py
Due: mypy-tests-standard, runtime-type-check

style(format): apply ruff formatting changes from pre-commit
  CRITICAL_GAPS_AND_NEXT_STEPS.md
  IMPLEMENTATION_ROADMAP.md
  TEST_COVERAGE_GAPS_BY_RULE.md
  src/ti4/core/constants.py
  src/ti4/core/custodians_token.py
  src/ti4/core/events.py
  src/ti4/core/game_state.py
  src/ti4/core/observers.py
  tests/test_rule_27_custodians_token.py
  tests/test_rule_27_integration.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Rule 89 completion: fix production/invasion coordination, ruff+mypy clean (src); update roadmap/critical path; tidy tests imports and types. Note: status phase performance tests still failing.
  .trae/lrr_analysis/89_tactical_action.md
  CRITICAL_GAPS_AND_NEXT_STEPS.md
  CRITICAL_PATH_IMPLEMENTATION_SEQUENCE.md
  IMPLEMENTATION_ROADMAP.md
  TACTICAL_ACTION_ARCHITECTURE.md
  TEST_COVERAGE_GAPS_BY_RULE.md
  src/ti4/actions/movement_engine.py
  src/ti4/core/galaxy.py
  src/ti4/core/invasion.py
  src/ti4/core/system.py
  src/ti4/core/tactical_action_coordinator.py
  src/ti4/tests/test_rule_89_2a_transport_capacity.py
  src/ti4/tests/test_rule_89_2b_empty_movement.py
  src/ti4/tests/test_rule_89_2b_empty_movement_plan.py
  src/ti4/tests/test_rule_89_4a_bombardment_execution.py
  src/ti4/tests/test_rule_89_4b_ground_force_landing.py
  src/ti4/tests/test_rule_89_4c_ground_combat_resolution.py
  src/ti4/tests/test_rule_89_5a_production_abilities_execution.py
  src/ti4/tests/test_rule_89_5b_production_without_movement_or_landing.py
  src/ti4/tests/test_rule_89_hyperlane_space_cannon_offense.py
  src/ti4/tests/test_rule_89_tactical_action_component_windows_and_flags.py
  src/ti4/tests/test_rule_89_tactical_action_coordinator_execution.py
Due: mypy-src-strict, security-check

Relax status phase performance thresholds to reduce flakiness (650ms); tests passing
  tests/test_enhanced_status_phase_manager.py
Due: mypy-tests-standard, runtime-type-check

Path conditions:
  mypy-src-strict: any of: ^src/
  mypy-tests-standard: any of: ^tests/
  security-check: any of: ^src/
  runtime-type-check: any of: ^tests/
