Repository NoahPeres/ti4-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

mypy-src-strict:
  name: mypy-src-strict
  entry: uv run mypy src --show-error-codes --strict --warn-unused-ignores
  language: system
  pass_filenames: false

mypy-tests-standard:
  name: mypy-tests-standard
  entry: bash -c 'uv run mypy tests --show-error-codes || true'
  language: system
  pass_filenames: false

security-check:
  name: security-check
  entry: bash -c 'uv run pip install bandit > /dev/null 2>&1 && uv run bandit -r src/ -f json -ll -ii || true'
  language: system
  pass_filenames: false

runtime-type-check:
  name: runtime-type-check
  entry: bash -c 'PYTHONPATH=src uv run pytest tests/ -v --tb=short'
  language: system
  pass_filenames: false

Fix remaining import issues after module renaming
  .trae/lrr_analysis/05_active_system.md
  TACTICAL_ACTION_ARCHITECTURE.md
  docs/rule_28_transaction_api_guide.md
  src/ti4/actions/movement_engine.py
  src/ti4/core/deals.py
  src/ti4/core/game_state.py
  src/ti4/core/tactical_action_coordinator.py
  src/ti4/core/tactical_actions.py
  tests/test_accept_transaction_gamestate_delegation.py
  tests/test_atomic_transaction_operations.py
  tests/test_immutability_resource_effects.py
  tests/test_observer_notification_resilience.py
  tests/test_promissory_note_manager_cloning.py
  tests/test_reject_cancel_gamestate_sync.py
  tests/test_resource_manager.py
  tests/test_rule89_validator.py
  tests/test_rule_28_api_integration.py
  tests/test_rule_28_component_transactions.py
  tests/test_rule_28_error_handling.py
  tests/test_rule_28_galaxy_adjacency_integration.py
  tests/test_rule_28_game_state_integration.py
  tests/test_rule_28_transaction_api.py
  tests/test_rule_28_transaction_timing.py
  tests/test_rule_78_space_combat.py
  tests/test_rule_95_transport.py
  tests/test_tactical_action_integration.py
  tests/test_transaction_api_gamestate_access.py
  tests/test_transaction_history_consolidation.py
  tests/test_transaction_history_logging.py
  tests/test_transaction_manager_gamestate_sync.py
  unit_stats_fixes_summary.md
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Fix documentation consistency checker false positive
  .kiro/steering/never_bypass_quality_gates.md
  scripts/check_documentation_consistency.py
Due: none

agendas spec
  .kiro/specs/rule-07-agenda-cards/design.md
  .kiro/specs/rule-07-agenda-cards/requirements.md
  .kiro/specs/rule-07-agenda-cards/tasks.md
  .kiro/specs/rule-95-transport/tasks.md
  docs/component_details/TI4 ability compendium.csv
Due: none

Fix failing transport tests by marking unimplemented tests as skipped
  .kiro/specs/rule-95-transport/tasks.md
  .pre-commit-config.yaml
  .trae/lrr_analysis/95_transport.md
  IMPLEMENTATION_ROADMAP.md
  docs/rule_95_transport_system_guide.md
  src/ti4/core/invasion.py
  src/ti4/core/movement.py
  src/ti4/core/transport.py
  tests/test_rule_95_transport.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Fix PR37 critical transport system issues
  pr37_fresh_iteration_response.md
  src/ti4/core/invasion.py
  src/ti4/core/movement.py
  src/ti4/core/transport.py
Due: mypy-src-strict, security-check

Remove backward compatibility tests
  tests/test_rule_95_transport.py
Due: mypy-tests-standard, runtime-type-check

Fix agenda card tests and enhance system integration
  src/ti4/core/agenda_cards/concrete/__init__.py
  src/ti4/core/agenda_cards/concrete/classified_document_leaks.py
  src/ti4/core/agenda_cards/concrete/crown.py
  src/ti4/core/agenda_cards/concrete/research_team.py
  src/ti4/core/agenda_cards/concrete/senate_sanctuary.py
  src/ti4/core/agenda_cards/concrete/terraforming_initiative.py
  src/ti4/core/agenda_cards/law_manager.py
  src/ti4/core/agenda_phase.py
  src/ti4/core/command_tokens.py
  src/ti4/core/game_state.py
  tests/test_rule_07_agenda_cards.py
  tests/test_rule_07_agenda_cards_end_to_end.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Fix security warnings in scripts directory
  .kiro/specs/rule-07-agenda-cards/tasks.md
  docs/agenda_card_usage_examples.md
  pr38_review_response.md
  pyproject.toml
  scripts/fetch_pr_review.py
  src/ti4/core/agenda_cards/base/agenda_card.py
  src/ti4/core/agenda_cards/concrete/anti_intellectual_revolution.py
  src/ti4/core/agenda_cards/concrete/classified_document_leaks.py
  src/ti4/core/agenda_cards/concrete/crown.py
  src/ti4/core/agenda_cards/concrete/crown_of_thalnos.py
  src/ti4/core/agenda_cards/concrete/demilitarized_zone.py
  src/ti4/core/agenda_cards/concrete/minister_of_commerce.py
  src/ti4/core/agenda_cards/concrete/research_team.py
  src/ti4/core/agenda_cards/concrete/terraforming_initiative.py
  src/ti4/core/agenda_cards/deck.py
  src/ti4/core/agenda_cards/effect_resolver.py
  src/ti4/core/agenda_cards/law_manager.py
  src/ti4/core/agenda_cards/registry.py
  src/ti4/core/agenda_phase.py
  src/ti4/core/command_tokens.py
  src/ti4/core/constants.py
  src/ti4/core/game_state.py
  src/ti4/core/movement.py
  src/ti4/core/production.py
  tests/test_rule_07_agenda_cards.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address CodeRabbit PR 38 review feedback
  .kiro/specs/rule-07-agenda-cards/tasks.md
  docs/agenda_card_usage_examples.md
  pr38_review_response.md
  pyproject.toml
  scripts/fetch_pr_review.py
  src/ti4/core/agenda_cards/concrete/demilitarized_zone.py
  src/ti4/core/agenda_cards/effect_resolver.py
  src/ti4/core/agenda_cards/law_manager.py
  src/ti4/core/command_tokens.py
  src/ti4/core/game_state.py
Due: mypy-src-strict, security-check

Complete CodeRabbit PR 38 review implementation
  pr38_review_response.md
  src/ti4/core/movement.py
Due: mypy-src-strict, security-check

Complete CodeRabbit review response for PR 38
  pr38_review_response.md
  src/ti4/core/movement.py
Due: mypy-src-strict, security-check

Address PR 38 CodeRabbit feedback
  pr38_review_response.md
  src/ti4/core/movement.py
Due: mypy-src-strict, security-check

feat: Improve Politics strategy card integration with game systems
  .trae/lrr_analysis/07_agenda_card.md
  .trae/lrr_analysis/66_politics.md
  IMPLEMENTATION_ROADMAP.md
  src/ti4/core/action_cards.py
  src/ti4/core/agenda_deck.py
  src/ti4/core/command_tokens.py
  src/ti4/core/game_state.py
  src/ti4/core/strategy_cards/cards/politics.py
  src/ti4/core/strategy_cards/game_state_adapter.py
  src/ti4/core/strategy_cards/protocols.py
  tests/test_rule_66_politics_strategy_card.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address PR 39 review feedback
  .trae/lrr_analysis/07_agenda_card.md
  src/ti4/core/action_cards.py
  src/ti4/core/command_tokens.py
  src/ti4/core/game_state.py
  src/ti4/core/strategy_cards/game_state_adapter.py
  src/ti4/core/strategy_cards/protocols.py
  tests/test_rule_66_politics_strategy_card.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Fix PR 39 review feedback: GameState immutability, duplicate identifiers, and adapter mock objects
  pr39_review_response.md
  src/ti4/core/action_cards.py
  src/ti4/core/game_state.py
  src/ti4/core/strategy_cards/cards/politics.py
  src/ti4/core/strategy_cards/game_state_adapter.py
  src/ti4/core/strategy_cards/protocols.py
Due: mypy-src-strict, security-check

Fix GameState immutability issues in Politics strategy card
  pr39_review_response.md
  src/ti4/core/command_tokens.py
  src/ti4/core/game_state.py
  src/ti4/core/strategy_cards/cards/politics.py
  src/ti4/core/strategy_cards/game_state_adapter.py
Due: mypy-src-strict, security-check

Fix immutability violations and assert statements from PR 39 review
  pr39_review_response.md
  src/ti4/core/command_tokens.py
  src/ti4/core/strategy_cards/cards/politics.py
  src/ti4/core/strategy_cards/game_state_adapter.py
  tests/test_rule_66_politics_strategy_card.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Fix politics secondary ability to handle legacy bool returns
  src/ti4/core/strategy_cards/cards/politics.py
Due: mypy-src-strict, security-check

feat: implement Rule 80 SPEAKER with comprehensive TDD approach
  src/ti4/core/speaker.py
  tests/test_rule_80_speaker.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

refactor: implement CodeRabbit review suggestions for speaker.py
  src/ti4/core/speaker.py
Due: mypy-src-strict, security-check

feat: Complete Rule 9 ANOMALIES core implementation
  .kiro/specs/rule-09-anomalies/design.md
  .kiro/specs/rule-09-anomalies/requirements.md
  .kiro/specs/rule-09-anomalies/tasks.md
  src/ti4/core/anomaly_manager.py
  src/ti4/core/combat.py
  src/ti4/core/constants.py
  src/ti4/core/exceptions.py
  src/ti4/core/movement.py
  src/ti4/core/movement_rules.py
  src/ti4/core/movement_validation.py
  src/ti4/core/system.py
  tests/test_anomaly_backward_compatibility.py
  tests/test_anomaly_error_handling.py
  tests/test_anomaly_integration_end_to_end.py
  tests/test_anomaly_integration_simple.py
  tests/test_anomaly_manager.py
  tests/test_anomaly_movement_integration.py
  tests/test_anomaly_performance_validation.py
  tests/test_anomaly_querying_interface.py
  tests/test_dynamic_anomaly_assignment.py
  tests/test_nebula_combat_effects.py
  tests/test_nebula_combat_integration.py
  tests/test_rule_09_anomalies.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Fix failing anomaly integration tests
  src/ti4/core/anomaly_manager.py
  tests/test_anomaly_backward_compatibility.py
  tests/test_anomaly_error_handling.py
  tests/test_anomaly_integration_end_to_end.py
  tests/test_anomaly_movement_integration.py
  tests/test_anomaly_performance_validation.py
  tests/test_anomaly_querying_interface.py
  tests/test_nebula_combat_integration.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Fix all anomaly tests and address PR review feedback
  pr41_review_response.md
  src/ti4/core/anomaly_manager.py
  src/ti4/core/game_state.py
  src/ti4/core/movement.py
  src/ti4/core/movement_rules.py
  src/ti4/core/system.py
  tests/test_anomaly_backward_compatibility.py
  tests/test_anomaly_error_handling.py
  tests/test_anomaly_integration_end_to_end.py
  tests/test_anomaly_integration_simple.py
  tests/test_anomaly_manager.py
  tests/test_anomaly_performance_validation.py
  tests/test_anomaly_querying_interface.py
  tests/test_dynamic_anomaly_assignment.py
  tests/test_rule_09_anomalies.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address PR 41 review feedback with gravity rift correction
  .trae/lrr_analysis/09_anomalies.md
  .trae/lrr_analysis/11_asteroid_field.md
  .trae/lrr_analysis/41_gravity_rift.md
  .trae/lrr_analysis/59_nebula.md
  .trae/lrr_analysis/86_supernova.md
  pr41_review_response.md
  src/ti4/core/movement.py
  src/ti4/core/movement_rules.py
  tests/test_anomaly_backward_compatibility.py
  tests/test_anomaly_error_handling.py
  tests/test_anomaly_integration_end_to_end.py
  tests/test_anomaly_integration_simple.py
  tests/test_anomaly_movement_integration.py
  tests/test_anomaly_performance_validation.py
  tests/test_rule_09_anomalies.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Complete Rule 51 Leaders implementation with comprehensive testing
  .kiro/specs/rule-51-leaders/design.md
  .kiro/specs/rule-51-leaders/requirements.md
  .kiro/specs/rule-51-leaders/tasks.md
  .kiro/steering/git_command_guidelines.md
  .trae/lrr_analysis/51_leaders.md
  IMPLEMENTATION_ROADMAP.md
  docs/leader_implementation_guidelines.md
  src/ti4/core/alliance_sharing.py
  src/ti4/core/game_state.py
  src/ti4/core/leaders.py
  src/ti4/core/placeholder_leaders.py
  src/ti4/core/player.py
  src/ti4/core/promissory_notes.py
  src/ti4/core/status_phase.py
  src/ti4/testing/scenario_builder.py
  tests/test_agent_class.py
  tests/test_alliance_promissory_note_lifecycle.py
  tests/test_alliance_promissory_note_sharing.py
  tests/test_commander_class.py
  tests/test_game_scenario_builder.py
  tests/test_hero_class.py
  tests/test_leader_ability_integration.py
  tests/test_leader_ability_validation.py
  tests/test_leader_end_to_end_workflow.py
  tests/test_leader_exceptions.py
  tests/test_leader_initialization.py
  tests/test_leader_manager.py
  tests/test_leader_persistence.py
  tests/test_leader_registry.py
  tests/test_leader_sheet.py
  tests/test_placeholder_leaders.py
  tests/test_rule_51_leaders_foundation.py
  tests/test_status_phase_agent_readying.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Fix critical issues from PR 42 review
  src/ti4/core/leaders.py
  src/ti4/core/promissory_notes.py
Due: mypy-src-strict, security-check

Address PR 42 review feedback
  pr42_review_response.md
  src/ti4/core/leaders.py
  src/ti4/core/promissory_notes.py
Due: mypy-src-strict, security-check

Address PR 42 review feedback
  pr42_review_response.md
  src/ti4/core/leaders.py
  src/ti4/core/promissory_notes.py
  tests/test_agent_class.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Implement Rule 10: Anti-Fighter Barrage
  .kiro/specs/rule-10-anti-fighter-barrage/design.md
  .kiro/specs/rule-10-anti-fighter-barrage/requirements.md
  .kiro/specs/rule-10-anti-fighter-barrage/tasks.md
  src/ti4/core/combat.py
  src/ti4/core/constants.py
  src/ti4/core/exceptions.py
  src/ti4/core/unit.py
  src/ti4/core/unit_stats.py
  tests/test_anti_fighter_barrage_detection.py
  tests/test_anti_fighter_barrage_error_handling.py
  tests/test_anti_fighter_barrage_hit_assignment.py
  tests/test_anti_fighter_barrage_resolution.py
  tests/test_anti_fighter_barrage_space_combat_integration.py
  tests/test_anti_fighter_barrage_stats.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address PR 43 review feedback
  .kiro/specs/rule-10-anti-fighter-barrage/design.md
  .kiro/specs/rule-10-anti-fighter-barrage/tasks.md
  src/ti4/core/combat.py
  src/ti4/core/unit.py
  src/ti4/core/unit_stats.py
  tests/test_anti_fighter_barrage_detection.py
  tests/test_anti_fighter_barrage_hit_assignment.py
  tests/test_anti_fighter_barrage_resolution.py
  tests/test_anti_fighter_barrage_space_combat_integration.py
  tests/test_anti_fighter_barrage_stats.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address PR 43 review feedback
  pr43_review_response.md
  src/ti4/core/combat.py
  src/ti4/core/unit.py
  tests/test_anti_fighter_barrage_detection.py
  tests/test_anti_fighter_barrage_stats.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Fix AFB critical issues and nitpicks from CodeRabbit review
  pr43_review_response.md
  src/ti4/core/combat.py
  src/ti4/core/unit.py
  tests/test_anti_fighter_barrage_detection.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Fix all failing tests by implementing proper planet control and resource management
  .kiro/specs/rule-26-cost/design.md
  .kiro/specs/rule-26-cost/requirements.md
  .kiro/specs/rule-26-cost/tasks.md
  .kiro/specs/rule-80-speaker/design.md
  .kiro/specs/rule-80-speaker/requirements.md
  RULE_26_BACKWARD_COMPATIBILITY_VALIDATION_COMPLETE.md
  src/ti4/core/agenda_phase.py
  src/ti4/core/game_state.py
  src/ti4/core/planet.py
  src/ti4/core/production.py
  src/ti4/core/resource_management.py
  src/ti4/core/strategy_cards/cards/leadership.py
  tests/test_agenda_phase_voting_integration.py
  tests/test_construction_strategy_card_cost_exemptions.py
  tests/test_cost_validator.py
  tests/test_cost_validator_modifiers.py
  tests/test_enhanced_production_integration.py
  tests/test_enhanced_production_manager.py
  tests/test_leadership_resource_integration_simple.py
  tests/test_leadership_strategy_card_integration.py
  tests/test_mecatol_rex_integration.py
  tests/test_performance_benchmarks.py
  tests/test_production_cost_validation_system.py
  tests/test_resource_error_handling.py
  tests/test_resource_management_data_structures.py
  tests/test_resource_manager.py
  tests/test_resource_performance_optimizations.py
  tests/test_rule_26_backward_compatibility_summary.py
  tests/test_rule_26_backward_compatibility_validation.py
  tests/test_rule_26_comprehensive_integration.py
  tests/test_rule_34_exhausted.py
  tests/test_spending_plan_execution.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Update LRR analysis documents and roadmap with new implementation status
  .trae/lrr_analysis/26_cost.md
  .trae/lrr_analysis/75_resources.md
  IMPLEMENTATION_ROADMAP.md
Due: none

Address PR 44 review feedback: Fix critical issues and nitpicks
  .kiro/specs/rule-26-cost/design.md
  .kiro/specs/rule-26-cost/requirements.md
  .trae/lrr_analysis/26_cost.md
  .trae/lrr_analysis/75_resources.md
  IMPLEMENTATION_ROADMAP.md
  pr44_review_response.md
  src/ti4/core/agenda_phase.py
  src/ti4/core/game_state.py
  src/ti4/core/planet.py
  src/ti4/core/production.py
  src/ti4/core/resource_management.py
  tests/test_leadership_resource_integration_simple.py
  tests/test_performance_benchmarks.py
  tests/test_resource_error_handling.py
  tests/test_rule_26_backward_compatibility_summary.py
  tests/test_rule_26_backward_compatibility_validation.py
  tests/test_rule_34_exhausted.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address PR 44 review feedback
  .kiro/specs/rule-26-cost/design.md
  IMPLEMENTATION_ROADMAP.md
  src/ti4/core/agenda_phase.py
  src/ti4/core/game_state.py
  src/ti4/core/production.py
  src/ti4/core/resource_management.py
  tests/test_leadership_resource_integration_simple.py
  tests/test_performance_benchmarks.py
  tests/test_rule_26_backward_compatibility_validation.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Complete PR 44 CodeRabbit review feedback implementation
  pr44_review_response.md
  src/ti4/core/agenda_phase.py
  tests/test_agenda_phase_voting_integration.py
  tests/test_leadership_resource_integration_simple.py
  tests/test_performance_benchmarks.py
  tests/test_rule_26_backward_compatibility_validation.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

speaker
  .kiro/specs/rule-80-speaker/design.md
  .kiro/specs/rule-80-speaker/requirements.md
  .trae/lrr_analysis/80_speaker.md
  src/ti4/core/speaker.py
  src/ti4/core/status_phase.py
  src/ti4/core/strategy_cards/cards/politics.py
  tests/test_rule_66_politics_strategy_card.py
  tests/test_rule_80_speaker.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address PR 45 review feedback
  src/ti4/core/speaker.py
  src/ti4/core/status_phase.py
  tests/test_rule_80_speaker.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Path conditions:
  mypy-src-strict: any of: ^src/
  mypy-tests-standard: any of: ^tests/
  security-check: any of: ^src/
  runtime-type-check: any of: ^tests/
