Repository NoahPeres/ti4-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

mypy-src-strict:
  name: mypy-src-strict
  entry: uv run mypy src --show-error-codes --strict --warn-unused-ignores
  language: system
  pass_filenames: false

mypy-tests-standard:
  name: mypy-tests-standard
  entry: bash -c 'uv run mypy tests --show-error-codes || true'
  language: system
  pass_filenames: false

security-check:
  name: security-check
  entry: bash -c 'uv run pip install bandit > /dev/null 2>&1 && uv run bandit -r src/ -f json -ll -ii || true'
  language: system
  pass_filenames: false

runtime-type-check:
  name: runtime-type-check
  entry: bash -c 'PYTHONPATH=src uv run pytest tests/ -v --tb=short'
  language: system
  pass_filenames: false

Address PR review feedback: Fix documentation, imports, and add negative test
  .trae/lrr_analysis/13_attacker.md
  .trae/lrr_analysis/29_defender.md
  IMPLEMENTATION_ROADMAP.md
  tests/test_rule_13_attacker.py
  tests/test_rule_29_defender.py
  tests/test_space_cannon_offense.py
Due: mypy-tests-standard, runtime-type-check

Address CodeRabbit review feedback for Rule 29 defender implementation
  .trae/lrr_analysis/29_defender.md
  IMPLEMENTATION_ROADMAP.md
  tests/test_rule_29_defender.py
Due: mypy-tests-standard, runtime-type-check

Complete Rule 15 BOMBARDMENT implementation and strategic roadmap
  .trae/lrr_analysis/15_bombardment.md
  IMPLEMENTATION_ROADMAP.md
  docs/component_details/TI4 ability compendium.numbers
  src/ti4/core/bombardment.py
  src/ti4/core/unit.py
  src/ti4/core/unit_stats.py
  tests/test_rule_15_bombardment.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

hooks
  src/ti4/core/bombardment.py
  src/ti4/core/unit.py
  tests/test_rule_15_bombardment.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Complete bombardment system implementation and documentation
  .trae/lrr_analysis/15_bombardment.md
  IMPLEMENTATION_ROADMAP.md
  src/ti4/core/bombardment.py
  src/ti4/core/unit.py
  src/ti4/core/unit_stats.py
  tests/test_rule_15_bombardment.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address code review feedback: fix bombardment implementation issues
  .trae/lrr_analysis/15_bombardment.md
  src/ti4/core/bombardment.py
  tests/test_rule_15_bombardment.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address CodeRabbit review feedback for PR #19
  .trae/lrr_analysis/15_bombardment.md
  docs/component_details/TI4 ability compendium.numbers
  src/ti4/core/bombardment.py
Due: mypy-src-strict, security-check

Fix forward references and linting issues
  .trae/lrr_analysis/15_bombardment.md
  docs/component_details/TI4 ability compendium.csv
  docs/component_details/TI4 ability compendium.numbers
  review_response.md
  src/ti4/core/blockade.py
  src/ti4/core/bombardment.py
  src/ti4/core/capture.py
  src/ti4/core/combat.py
  src/ti4/core/fleet.py
  src/ti4/core/fleet_pool.py
  src/ti4/core/galaxy.py
  src/ti4/core/game_state.py
  src/ti4/core/game_state_manager.py
  src/ti4/core/movement.py
  src/ti4/core/movement_rules.py
  src/ti4/core/planet.py
  src/ti4/core/production.py
  src/ti4/core/production_ability.py
  src/ti4/core/rule89_validator.py
  src/ti4/core/ships.py
  src/ti4/core/space_combat.py
  src/ti4/core/system.py
Due: mypy-src-strict, security-check

Implement Rule 16.3a: Player choice in excess unit removal
  .trae/lrr_analysis/16_capacity.md
  IMPLEMENTATION_ROADMAP.md
  src/ti4/core/fleet.py
  tests/test_capacity_excess_removal.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Fix fleet capacity excess removal logic
  .trae/lrr_analysis/16_capacity.md
  IMPLEMENTATION_ROADMAP.md
  src/ti4/core/fleet.py
  tests/test_capacity_excess_removal.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address CodeRabbit review feedback for PR #20
  review_response_pr20.md
  src/ti4/core/fleet.py
  tests/test_capacity_excess_removal.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Implement Rule 40: Ground Combat
  src/ti4/core/ground_combat.py
  tests/test_rule_40_ground_combat.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

docs
  .trae/lrr_analysis/40_ground_combat.md
  IMPLEMENTATION_ROADMAP.md
Due: none

Fix mypy type errors and formatting in ground combat
  .trae/lrr_analysis/40_ground_combat.md
  IMPLEMENTATION_ROADMAP.md
  src/ti4/core/ground_combat.py
  tests/test_rule_40_ground_combat.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address CodeRabbit review feedback for PR 21
  .trae/lrr_analysis/40_ground_combat.md
  docs/component_details/TI4 ability compendium.numbers
  review_response.md
  src/ti4/core/ground_combat.py
Due: mypy-src-strict, security-check

numbers
  docs/component_details/TI4 ability compendium.numbers
Due: none

Remove tracking of numbers file
  docs/component_details/TI4 ability compendium.numbers
Due: none

feat: implement Rule 8 AGENDA PHASE with comprehensive voting system
  .trae/lrr_analysis/08_agenda_phase.md
  IMPLEMENTATION_ROADMAP.md
  src/ti4/core/agenda_phase.py
  tests/test_rule_08_agenda_phase.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Fix agenda phase tests: resolve planet control and voting validation issues
  .trae/lrr_analysis/08_agenda_phase.md
  IMPLEMENTATION_ROADMAP.md
  src/ti4/core/agenda_phase.py
  tests/test_rule_08_agenda_phase.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address CodeRabbit review feedback for PR #23
  .trae/lrr_analysis/08_agenda_phase.md
  review_response_pr23.md
  src/ti4/core/agenda_phase.py
  tests/test_rule_08_agenda_phase.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Fix agenda phase LRR 8.19 compliance and documentation issues
  .trae/lrr_analysis/08_agenda_phase.md
  src/ti4/core/agenda_phase.py
  tests/test_rule_08_agenda_phase.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Fix agenda phase implementation based on CodeRabbit review
  .trae/lrr_analysis/08_agenda_phase.md
  docs/component_details/TI4 ability compendium.csv
  review_response.md
  src/ti4/core/agenda_phase.py
  src/ti4/core/error_recovery.py
  tests/test_agenda_voting_mechanics.py
  tests/test_agenda_voting_windows.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

feat: implement Rule 61.9-61.10 objective requirements validation system
  .trae/lrr_analysis/61_objective_cards.md
  src/ti4/core/objective_requirements.py
  tests/test_rule_61_requirements.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address CodeRabbit feedback for PR #24
  .trae/lrr_analysis/61_objective_cards.md
  src/ti4/core/objective_requirements.py
  tests/test_rule_61_requirements.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Implement Rule 49: INVASION - Complete invasion system
  .trae/lrr_analysis/49_invasion.md
  IMPLEMENTATION_ROADMAP.md
  docs/component_details/TI4 ability compendium.csv
  review_response.md
  src/ti4/core/invasion.py
  tests/test_rule_49_invasion.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address CodeRabbit feedback for PR #25
  review_response_pr25.md
  src/ti4/core/invasion.py
Due: mypy-src-strict, security-check

Address all CodeRabbit feedback for invasion implementation
  .trae/lrr_analysis/49_invasion.md
  review_response.md
  src/ti4/core/invasion.py
  tests/test_rule_49_invasion.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address CodeRabbit review feedback round 2
  .trae/lrr_analysis/49_invasion.md
  review_response_pr25_round2.md
  src/ti4/core/combat.py
  src/ti4/core/invasion.py
Due: mypy-src-strict, security-check

feat: Implement Rule 31: DESTROYED - Complete unit destruction system
  .trae/lrr_analysis/31_destroyed.md
  IMPLEMENTATION_ROADMAP.md
  src/ti4/core/combat.py
  src/ti4/core/destruction.py
  src/ti4/core/reinforcements.py
  tests/test_rule_31_destroyed.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address PR #26 review feedback
  IMPLEMENTATION_ROADMAP.md
  review_response_pr26.md
  src/ti4/core/destruction.py
  src/ti4/core/reinforcements.py
  tests/test_rule_31_destroyed.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address PR #26 Round 2 review feedback
  review_response_pr26.md
  review_response_pr26_round2.md
  src/ti4/core/destruction.py
Due: mypy-src-strict, security-check

Address PR #26 Round 3 feedback and organize review files
  .gitignore
  review_response.md
  review_response_pr20.md
  review_response_pr23.md
  review_response_pr25.md
  review_response_pr25_round2.md
  review_response_pr26.md
  review_response_pr26_round2.md
  review_response_summary.md
Due: none

feat: Complete Rule 32 Diplomacy implementation and API cleanup
  .trae/lrr_analysis/32_diplomacy.md
  IMPLEMENTATION_ROADMAP.md
  src/ti4/core/galaxy.py
  src/ti4/core/strategy_cards/cards/diplomacy.py
  src/ti4/core/strategy_cards/strategic_action.py
  tests/test_rule_32_diplomacy.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address CodeRabbit feedback: Fix token placement logic, remove hasattr guards, add double-exhaust protection
  .trae/lrr_analysis/32_diplomacy.md
  review_response.txt
  src/ti4/core/galaxy.py
  src/ti4/core/strategy_cards/cards/diplomacy.py
  src/ti4/core/strategy_cards/strategic_action.py
  tests/test_rule_32_diplomacy.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

feedback
  coderabbit_review_response.txt
  src/ti4/core/constants.py
  src/ti4/core/strategy_cards/cards/diplomacy.py
  src/ti4/core/strategy_cards/strategic_action.py
  src/ti4/core/system_factory.py
  tests/test_mecatol_rex_integration.py
  tests/test_system_factory.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address CodeRabbit review feedback for Diplomacy strategy card
  .trae/lrr_analysis/32_diplomacy.md
  review_response.txt
  review_response_summary.txt
  src/ti4/core/agenda_phase.py
  src/ti4/core/strategy_cards/cards/diplomacy.py
  tests/test_rule_32_diplomacy.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Fix CodeRabbit review issues: use SystemConstants.MECATOL_REX_ID, fix command token consumption, add Planet accessors
  src/ti4/core/constants.py
  src/ti4/core/planet.py
  src/ti4/core/strategy_cards/cards/diplomacy.py
  src/ti4/core/system_factory.py
  tests/test_system_factory.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Refactor planet finding logic and fix dual API issues
  review_response_summary.txt
  src/ti4/core/command_sheet.py
  src/ti4/core/galaxy.py
  src/ti4/core/planet.py
  src/ti4/core/player.py
  src/ti4/core/strategy_cards/cards/diplomacy.py
  src/ti4/core/strategy_cards/cards/leadership.py
  tests/test_rule_52_leadership.py
  tests/test_system_factory.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Fix Diplomacy strategy card validation flow and Leadership test mocks
  src/ti4/core/strategy_cards/cards/diplomacy.py
  src/ti4/core/strategy_cards/cards/leadership.py
  tests/test_rule_52_leadership.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address CodeRabbit PR #27 review feedback - critical fixes and code quality improvements
  review_response_pr27.txt
  src/ti4/core/strategy_cards/cards/diplomacy.py
  src/ti4/core/strategy_cards/cards/leadership.py
Due: mypy-src-strict, security-check

Path conditions:
  mypy-src-strict: any of: ^src/
  mypy-tests-standard: any of: ^tests/
  security-check: any of: ^src/
  runtime-type-check: any of: ^tests/
