Repository NoahPeres/ti4-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

mypy-src-strict:
  name: mypy-src-strict
  entry: uv run mypy src --show-error-codes --strict --warn-unused-ignores
  language: system
  pass_filenames: false

mypy-tests-standard:
  name: mypy-tests-standard
  entry: bash -c 'uv run mypy tests --show-error-codes || true'
  language: system
  pass_filenames: false

security-check:
  name: security-check
  entry: bash -c 'uv run pip install bandit > /dev/null 2>&1 && uv run bandit -r src/ -f json -ll -ii || true'
  language: system
  pass_filenames: false

runtime-type-check:
  name: runtime-type-check
  entry: bash -c 'PYTHONPATH=src uv run pytest tests/ -v --tb=short'
  language: system
  pass_filenames: false

Fix critical atomicity issues and improve strategy card abilities
  src/ti4/core/strategy_cards/cards/diplomacy.py
  src/ti4/core/strategy_cards/cards/leadership.py
Due: mypy-src-strict, security-check

Address CodeRabbit PR #27 review feedback
  src/ti4/core/strategy_cards/cards/diplomacy.py
  src/ti4/core/strategy_cards/cards/leadership.py
  tests/test_rule_52_leadership.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Fix critical mutation ordering issues in leadership.py - Address CodeRabbit PR #27 round 3 feedback
  review_response_pr27_round2.txt
  src/ti4/core/strategy_cards/cards/leadership.py
Due: mypy-src-strict, security-check

Complete Rule 30: DEPLOY implementation
  .trae/lrr_analysis/30_deploy.md
  IMPLEMENTATION_ROADMAP.md
  docs/component_details/TI4 ability compendium.csv
  review_response_pr27_round3.txt
  src/ti4/core/exceptions.py
  src/ti4/core/planet.py
  src/ti4/core/player.py
  src/ti4/core/reinforcements.py
  tests/test_rule_30_deploy.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address CodeRabbit review feedback - Round 4
  IMPLEMENTATION_ROADMAP.md
  coderabbit_review_response.txt
  review_response.txt
  review_response_pr27.txt
  review_response_pr27_round2.txt
  review_response_pr27_round3.txt
  review_response_summary.txt
  src/ti4/core/exceptions.py
  src/ti4/core/player.py
  src/ti4/core/reinforcements.py
  tests/test_rule_30_deploy.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Fix markdown linting issues in IMPLEMENTATION_ROADMAP.md
  IMPLEMENTATION_ROADMAP.md
  src/ti4/core/player.py
  src/ti4/core/reinforcements.py
  tests/test_rule_30_deploy.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address CodeRabbit PR #28 feedback
  IMPLEMENTATION_ROADMAP.md
  src/ti4/core/player.py
  src/ti4/core/reinforcements.py
Due: mypy-src-strict, security-check

Implement Rule 33.5 and fix elimination bugs
  .trae/lrr_analysis/33_elimination.md
  docs/component_details/Ti4 Planets.csv
  src/ti4/core/game_state.py
  src/ti4/core/promissory_notes.py
  tests/test_rule_33_1_elimination_conditions.py
  tests/test_rule_33_4_promissory_notes.py
  tests/test_rule_33_5_action_cards.py
  tests/test_rule_33_elimination.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Fix mypy errors and test failures in Rule 33 implementation
  .trae/lrr_analysis/33_elimination.md
  docs/component_details/TI4 Systems.csv
  docs/component_details/Ti4 Planets.csv
  src/ti4/core/game_state.py
  tests/test_rule_33_1_elimination_conditions.py
  tests/test_rule_33_4_promissory_notes.py
  tests/test_rule_33_5_action_cards.py
  tests/test_rule_33_elimination.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Implement missing elimination mechanisms for Rules 33.6, 33.8, and 33.9
  src/ti4/core/game_controller.py
  src/ti4/core/game_state.py
  src/ti4/core/promissory_notes.py
  tests/test_rule_33_9_strategy_card_selection.py
  tests/test_rule_33_elimination.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Fix strategy card type safety and runtime import issues
  src/ti4/core/game_controller.py
  src/ti4/core/game_state.py
  src/ti4/core/promissory_notes.py
  tests/test_rule_33_9_strategy_card_selection.py
  tests/test_rule_33_elimination.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address CodeRabbit review comments for PR #29
  latest_review.json
  review_analysis.md
  src/ti4/core/game_controller.py
  src/ti4/core/game_state.py
  tests/test_rule_33_9_strategy_card_selection.py
  tests/test_rule_33_elimination.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Fix ValidationError import in test_rule_33_9_strategy_card_selection.py
  tests/test_rule_33_9_strategy_card_selection.py
Due: mypy-tests-standard, runtime-type-check

rm
  latest_review.json
  review_analysis.md
  tests/test_rule_33_elimination.py
Due: mypy-tests-standard, runtime-type-check

Fix import paths and Player constructor calls in elimination tests
  src/ti4/core/game_controller.py
  src/ti4/core/game_state.py
  src/ti4/core/promissory_notes.py
  tests/test_rule_33_1_elimination_conditions.py
  tests/test_rule_33_4_promissory_notes.py
  tests/test_rule_33_9_strategy_card_selection.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

feat: implement Rule 12 ATTACH - complete card attachment system
  .trae/lrr_analysis/12_attach.md
  IMPLEMENTATION_ROADMAP.md
  src/ti4/core/game_state.py
  src/ti4/core/planet_card.py
  tests/test_rule_12_attach.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Fix Rule 12 attachment implementation
  .trae/lrr_analysis/12_attach.md
  src/ti4/core/game_state.py
  tests/test_rule_12_attach.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address all CodeRabbit review feedback for Rule 12 attachment implementation
  src/ti4/core/game_state.py
  src/ti4/core/planet_card.py
  tests/test_rule_12_attach.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address CodeRabbit PR #30 review feedback
  src/ti4/core/game_state.py
  src/ti4/core/planet_card.py
  tests/test_rule_12_attach.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

rerolls
  .trae/lrr_analysis/33_elimination.md
  .trae/lrr_analysis/74_rerolls.md
  IMPLEMENTATION_ROADMAP.md
  src/ti4/core/dice.py
  tests/test_rule_74_rerolls.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address CodeRabbit PR #31 review comments
  .trae/lrr_analysis/33_elimination.md
  IMPLEMENTATION_ROADMAP.md
  src/ti4/core/dice.py
  tests/test_rule_74_rerolls.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Implement Rule 35 exploration system with comprehensive tests
  .trae/lrr_analysis/35_exploration.md
  IMPLEMENTATION_ROADMAP.md
  docs/component_details/TI4 ability compendium.csv
  src/ti4/core/exploration.py
  src/ti4/core/planet.py
  src/ti4/core/player.py
  tests/test_rule_35_exploration.py
  tests/test_rule_35_exploration_integration.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

implement feedback
  .trae/lrr_analysis/35_exploration.md
  IMPLEMENTATION_ROADMAP.md
  docs/lrr_tracking/refactoring_learnings.md
  docs/lrr_tracking/rule_101_test_record.md
  docs/lrr_tracking/rule_34_test_record.md
  docs/lrr_tracking/rule_60_test_record.md
  docs/lrr_tracking/rule_6_1_test_record.md
  docs/lrr_tracking/rule_98_test_record.md
  src/ti4/core/exploration.py
  src/ti4/core/player.py
  tests/test_rule_35_exploration.py
  tests/test_rule_35_exploration_integration.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

proper relic fragment implementation
  .kiro/specs/technology-card-framework/design.md
  .kiro/specs/technology-card-framework/requirements.md
  .kiro/specs/technology-card-framework/tasks.md
  .trae/lrr_analysis/35_exploration.md
  IMPLEMENTATION_ROADMAP.md
  docs/component_details/TI4 ability compendium.csv
  src/ti4/core/abilities.py
  src/ti4/core/ability_cost_manager.py
  src/ti4/core/card_types.py
  src/ti4/core/exploration.py
  src/ti4/core/exploration_cards.py
  src/ti4/core/player.py
  tests/test_rule_35_exploration.py
  tests/test_rule_35_exploration_integration.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Prioritise matching over unknown
  .trae/lrr_analysis/35_exploration.md
  tests/test_rule_35_exploration.py
Due: mypy-tests-standard, runtime-type-check

Address CodeRabbit feedback: improve ability timing, type safety, and code quality
  IMPLEMENTATION_ROADMAP.md
  src/ti4/core/abilities.py
  src/ti4/core/ability_cost_manager.py
  src/ti4/core/exploration.py
  src/ti4/core/exploration_cards.py
  tests/test_rule_35_exploration.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address CodeRabbit feedback round 2: selective improvements
  .trae/lrr_analysis/35_exploration.md
  IMPLEMENTATION_ROADMAP.md
  src/ti4/core/abilities.py
  src/ti4/core/ability_cost_manager.py
  tests/test_rule_35_exploration.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

fix: resolve all test failures and complete technology card framework
  .kiro/hooks/subtask-quality-check.kiro.hook
  docs/README.md
  docs/integration_points_guide.md
  docs/quick_reference.md
  docs/technology_card_framework_guide.md
  src/ti4/actions/movement_engine.py
  src/ti4/core/exploration.py
  src/ti4/core/technology_cards/abilities_integration.py
  src/ti4/core/technology_cards/concrete/__init__.py
  src/ti4/core/technology_cards/concrete/dark_energy_tap.py
  src/ti4/core/technology_cards/concrete/gravity_drive.py
  src/ti4/core/technology_cards/integration.py
  src/ti4/core/technology_cards/protocols.py
  src/ti4/core/technology_cards/registry.py
  src/ti4/core/technology_cards/specifications.py
  tests/test_dark_energy_tap.py
  tests/test_dark_energy_tap_abilities_integration.py
  tests/test_gravity_drive.py
  tests/test_technology_card_factory.py
  tests/test_technology_card_framework_integration.py
  tests/test_technology_framework_enums.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

feat: implement development guidelines and prevention measures
  .kiro/hooks/subtask-quality-check.kiro.hook
  .kiro/specs/pr33-review-fixes/design.md
  .kiro/specs/pr33-review-fixes/requirements.md
  .kiro/specs/pr33-review-fixes/tasks.md
  .pre-commit-config.yaml
  Makefile
  docs/README.md
  docs/api_reference.md
  docs/development_guidelines.md
  docs/quick_reference.md
  docs/technology_card_framework_guide.md
  docs/validation_requirements.md
  pyproject.toml
  scripts/check_documentation_consistency.py
  scripts/detect_hardcoded_triggers.py
  src/ti4/core/technology_cards/abilities_integration.py
  src/ti4/core/technology_cards/concrete/dark_energy_tap.py
  templates/new_ability_template.py
  templates/new_condition_validation_template.py
  tests/test_dark_energy_tap.py
  tests/test_dark_energy_tap_abilities_integration.py
  tests/test_technology_card_framework_integration.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

fix: address critical PR review issues
  Makefile
  pr33_review_complete.md
  scripts/check_documentation_consistency.py
  src/ti4/core/technology_cards/abilities_integration.py
  templates/new_ability_template.py
Due: mypy-src-strict, security-check

fix: address critical issues from PR review round 3
  pr33_review_round3.md
  scripts/check_documentation_consistency.py
  templates/new_ability_template.py
Due: none

feat: implement Rule 95 TRANSPORT system with comprehensive TDD approach
  .kiro/specs/rule-95-transport/design.md
  .kiro/specs/rule-95-transport/requirements.md
  .kiro/specs/rule-95-transport/tasks.md
  .kiro/steering/agent_auditor.md
  .kiro/steering/agent_code_reviewer.md
  .kiro/steering/agent_rule_implementor.md
  .kiro/steering/ai_agent_quality_guidelines.md
  .kiro/steering/quality_assurance_workflow.md
  src/ti4/core/transport.py
  tests/test_rule_95_transport.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

refactor: address CodeRabbit review feedback for transport implementation
  src/ti4/core/transport.py
Due: mypy-src-strict, security-check

fix: address comprehensive CodeRabbit review feedback (iteration 2)
  src/ti4/core/transport.py
  tests/test_rule_95_transport.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Implement Rule 28 (Deals) transaction system
  .kiro/specs/rule-28-deals/design.md
  .kiro/specs/rule-28-deals/requirements.md
  .kiro/specs/rule-28-deals/tasks.md
  docs/README.md
  docs/api_reference.md
  docs/dark_energy_tap_reference.md
  docs/integration_points_guide.md
  docs/quick_reference.md
  docs/rule_28_transaction_api_guide.md
  docs/technology_card_framework_guide.md
  src/ti4/core/constants.py
  src/ti4/core/game_state.py
  src/ti4/core/player.py
  src/ti4/core/rule_28_deals.py
  src/ti4/core/system.py
  tests/test_resource_manager.py
  tests/test_rule_28_api_integration.py
  tests/test_rule_28_component_transactions.py
  tests/test_rule_28_error_handling.py
  tests/test_rule_28_galaxy_adjacency_integration.py
  tests/test_rule_28_game_state_integration.py
  tests/test_rule_28_transaction_api.py
  tests/test_rule_28_transaction_timing.py
  tests/test_transaction_history_logging.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

feat: implement PR35 review fixes for transaction system robustness
  .kiro/specs/pr35-review-fixes/design.md
  .kiro/specs/pr35-review-fixes/requirements.md
  .kiro/specs/pr35-review-fixes/tasks.md
  docs/rule_28_transaction_api_guide.md
  src/ti4/core/game_state.py
  src/ti4/core/rule_28_deals.py
  tests/test_accept_transaction_gamestate_delegation.py
  tests/test_atomic_transaction_operations.py
  tests/test_concurrent_games.py
  tests/test_immutability_resource_effects.py
  tests/test_observer_notification_resilience.py
  tests/test_promissory_note_manager_cloning.py
  tests/test_reject_cancel_gamestate_sync.py
  tests/test_resource_manager.py
  tests/test_resource_monitoring.py
  tests/test_rule_28_api_integration.py
  tests/test_rule_28_component_transactions.py
  tests/test_rule_28_error_handling.py
  tests/test_rule_28_game_state_integration.py
  tests/test_rule_28_transaction_timing.py
  tests/test_rule_33_9_strategy_card_selection.py
  tests/test_rule_83_strategy_card_state_management.py
  tests/test_transaction_api_gamestate_access.py
  tests/test_transaction_history_consolidation.py
  tests/test_transaction_history_logging.py
  tests/test_transaction_manager_gamestate_sync.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

review feedback
  tests/test_accept_transaction_gamestate_delegation.py
  tests/test_atomic_transaction_operations.py
  tests/test_reject_cancel_gamestate_sync.py
  tests/test_rule_28_error_handling.py
  tests/test_rule_33_9_strategy_card_selection.py
  tests/test_transaction_manager_gamestate_sync.py
Due: mypy-tests-standard, runtime-type-check

Fix PR35 review feedback: Complete strategy card test refactoring and fix import issues
  pr35_fresh_iteration_response.md
  tests/test_rule_28_error_handling.py
  tests/test_rule_33_9_strategy_card_selection.py
Due: mypy-tests-standard, runtime-type-check

Path conditions:
  mypy-src-strict: any of: ^src/
  mypy-tests-standard: any of: ^tests/
  security-check: any of: ^src/
  runtime-type-check: any of: ^tests/
