Repository NoahPeres/ti4-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

mypy-src-strict:
  name: mypy-src-strict
  entry: uv run mypy src --show-error-codes --strict --warn-unused-ignores
  language: system
  pass_filenames: false

mypy-tests-standard:
  name: mypy-tests-standard
  entry: bash -c 'uv run mypy tests --show-error-codes || true'
  language: system
  pass_filenames: false

security-check:
  name: security-check
  entry: bash -c 'uv run pip install bandit > /dev/null 2>&1 && uv run bandit -r src/ -f json -ll -ii || true'
  language: system
  pass_filenames: false

runtime-type-check:
  name: runtime-type-check
  entry: bash -c 'PYTHONPATH=src uv run pytest tests/ -v --tb=short'
  language: system
  pass_filenames: false

benchmark
  tests/test_performance_benchmarks.py
Due: mypy-tests-standard, runtime-type-check

victory points
  .trae/lrr_analysis/88_system_tiles.md
  .trae/lrr_analysis/98_victory_points.md
  IMPLEMENTATION_ROADMAP.md
  docs/lrr_analysis_98_victory_points.md
  docs/lrr_tracking/rule_98_test_record.md
  src/ti4/core/game_state.py
  tests/test_rule_98_victory_points.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

implement feedback
  .trae/lrr_analysis/88_system_tiles.md
  .trae/lrr_analysis/98_victory_points.md
  IMPLEMENTATION_ROADMAP.md
  docs/lrr_analysis_01_abilities.md
  docs/lrr_analysis_02_action_cards.md
  docs/lrr_analysis_03_action_phase.md
  docs/lrr_analysis_04_active_player.md
  docs/lrr_analysis_05_active_system.md
  docs/lrr_analysis_06_adjacency.md
  docs/lrr_analysis_98_victory_points.md
  docs/lrr_tracking/rule_98_test_record.md
  latest_review.txt
  latest_review_pr11.txt
  review_response.md
  review_response_summary.md
  src/ti4/core/game_state.py
  tests/test_rule_98_victory_points.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

feedback
  .trae/lrr_analysis/98_victory_points.md
  IMPLEMENTATION_ROADMAP.md
  latest_review_pr11_updated.txt
  review_response.md
  review_response_summary.md
  src/ti4/core/game_state.py
  tests/test_game_controller.py
  tests/test_integration_scenarios.py
  tests/test_property_based_invariants.py
  tests/test_rule_61_objectives.py
  tests/test_rule_61_scoring_limits.py
  tests/test_rule_61_secret_objectives.py
  tests/test_rule_61_test_helpers.py
  tests/test_rule_98_victory_points.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

nits
  IMPLEMENTATION_ROADMAP.md
  latest_review.txt
  review_response.md
  review_response_summary.md
Due: none

feedback
  .trae/lrr_analysis/98_victory_points.md
  Makefile
  latest_review.txt
  latest_review_pr11.txt
  latest_review_pr11_new.txt
  latest_review_pr11_updated.txt
  review_response_final.md
  review_response_summary.md
  src/ti4/core/game_controller.py
  src/ti4/core/game_state.py
  src/ti4/core/production_ability.py
  tests/test_game_controller.py
  tests/test_integration.py
  tests/test_method_breakdown.py
  tests/test_rule_68_production.py
  tests/test_scenario_library.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

more feedback
  .trae/lrr_analysis/98_victory_points.md
  PERFORMANCE_CHARACTERISTICS.md
  README.md
  latest_review_pr11.txt
  review_response_final.md
  src/ti4/core/game_controller.py
  src/ti4/core/game_state.py
  src/ti4/core/production_ability.py
  src/ti4/core/strategy_cards/coordinator.py
  tests/test_rule_68_production.py
  unit_stats_fixes_summary.md
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

control
  .trae/lrr_analysis/25_control.md
  .trae/lrr_analysis/executive_summary.md
  IMPLEMENTATION_ROADMAP.md
  src/ti4/core/game_state.py
  src/ti4/core/planet_card.py
  src/ti4/core/strategy_cards/coordinator.py
  tests/test_rule_25_control.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

responding to feedback
  .trae/lrr_analysis/executive_summary.md
  latest_review.txt
  review_response.md
  src/ti4/core/game_state.py
  src/ti4/core/planet_card.py
  src/ti4/core/strategy_cards/coordinator.py
  tests/test_rule_25_control.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

feedback
  .gitignore
  .trae/lrr_analysis/executive_summary.md
  latest_review.txt
  latest_review_pr11.txt
  latest_review_pr11_new.txt
  review_response.md
  review_response_final.md
  review_response_summary.md
  src/ti4/core/game_state.py
  src/ti4/core/planet_card.py
  tests/test_rule_25_control.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

feedback
  latest_review.txt
  src/ti4/core/game_state.py
  tests/test_rule_83_game_state_extensions.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

commodities
  .trae/lrr_analysis/21_commodities.md
  IMPLEMENTATION_ROADMAP.md
  src/ti4/core/command_sheet.py
  src/ti4/core/faction_data.py
  src/ti4/core/player.py
  tests/test_rule_21_commodities.py
  tests/test_rule_21_commodity_trading.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

iterate on feedback
  .trae/lrr_analysis/21_commodities.md
  latest_review.txt
  src/ti4/core/command_sheet.py
  src/ti4/core/faction_data.py
  src/ti4/core/player.py
  tests/test_rule_21_commodities.py
  tests/test_rule_21_commodity_trading.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

feedback
  .gitignore
  .trae/lrr_analysis/21_commodities.md
  latest_review.txt
  src/ti4/core/player.py
Due: mypy-src-strict, security-check

more feedback
  .trae/lrr_analysis/21_commodities.md
  src/ti4/core/player.py
  tests/test_rule_21_commodity_trading.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

leadership
  .trae/lrr_analysis/52_leadership.md
  IMPLEMENTATION_ROADMAP.md
  src/ti4/core/strategy_cards/cards/leadership.py
  tests/test_rule_52_leadership.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

feedback, better influence validation
  .trae/lrr_analysis/52_leadership.md
  IMPLEMENTATION_ROADMAP.md
  src/ti4/core/strategy_cards/cards/leadership.py
  tests/test_rule_52_leadership.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

action phase
  .trae/lrr_analysis/03_action_phase.md
  IMPLEMENTATION_ROADMAP.md
  src/ti4/core/exceptions.py
  src/ti4/core/game_controller.py
  tests/test_integration_scenarios.py
  tests/test_rule_03_action_phase.py
  tests/test_rule_83_error_handling_validation.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

review feedback
  IMPLEMENTATION_ROADMAP.md
  src/ti4/core/exceptions.py
  src/ti4/core/game_controller.py
  tests/test_game_controller.py
  tests/test_integration_scenarios.py
  tests/test_rule_03_action_phase.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

feedback
  src/ti4/core/game_controller.py
  tests/test_game_controller.py
  tests/test_integration_scenarios.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

feedback
  src/ti4/core/game_controller.py
  tests/test_integration_scenarios.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

nits
  src/ti4/core/game_controller.py
  src/ti4/testing/test_utilities.py
  tests/test_performance_benchmarks.py
  tests/test_rule_83_comprehensive_integration.py
  tests/test_rule_83_comprehensive_system_validation.py
  tests/test_rule_83_system_validation_report.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

nits
  src/ti4/core/game_controller.py
  src/ti4/testing/test_utilities.py
  tests/test_rule_03_action_phase.py
  tests/test_rule_52_leadership.py
  tests/test_rule_83_comprehensive_system_validation.py
  tests/test_rule_83_system_validation_report.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

more feedback
  src/ti4/core/game_controller.py
  tests/test_rule_03_action_phase.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

fixes
  src/ti4/core/game_controller.py
  tests/test_rule_03_action_phase.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address CodeRabbit review feedback
  review_response_summary.md
  src/ti4/core/game_controller.py
Due: mypy-src-strict, security-check

fix: resolve mypy type annotation errors
  .trae/lrr_analysis/01_abilities.md
  IMPLEMENTATION_ROADMAP.md
  docs/component_details/TI4 ability compendium.csv
  docs/component_details/TI4 ability compendium.numbers
  src/ti4/core/abilities.py
  tests/test_rule_01_abilities.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

fix: add missing newline at end of file
  .trae/lrr_analysis/01_abilities.md
  src/ti4/core/abilities.py
  tests/test_rule_01_abilities.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address CodeRabbit feedback: improve abilities system type safety and implementation
  .trae/lrr_analysis/01_abilities.md
  src/ti4/core/abilities.py
Due: mypy-src-strict, security-check

Complete action card implementation
  .gitignore
  .trae/lrr_analysis/02_action_cards.md
  .trae/lrr_analysis/22_component_action.md
  IMPLEMENTATION_ROADMAP.md
  docs/component_details/TI4 ability compendium.numbers
  src/ti4/core/action_cards.py
  src/ti4/core/component_action.py
  tests/test_action_cards.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address CodeRabbit review feedback: modernize type annotations, fix markdown indentation, correct file paths, clarify documentation, remove unnecessary test guards
  .trae/lrr_analysis/22_component_action.md
  IMPLEMENTATION_ROADMAP.md
  docs/component_details/TI4 ability compendium.numbers
  src/ti4/core/action_cards.py
  tests/test_action_cards.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Address CodeRabbit feedback for PR 16
  docs/component_details/TI4 ability compendium.numbers
  tests/test_action_cards.py
Due: mypy-tests-standard, runtime-type-check

feedback
  docs/component_details/TI4 ability compendium.csv
  docs/component_details/TI4 ability compendium.numbers
  tests/test_action_cards.py
Due: mypy-tests-standard, runtime-type-check

feat: Complete Rule 13 ATTACKER implementation
  .trae/lrr_analysis/13_attacker.md
  IMPLEMENTATION_ROADMAP.md
  src/ti4/core/combat.py
  src/ti4/core/system.py
  tests/test_rule_13_attacker.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Fix test_rule_13_attacker.py test failures and resolve pre-commit issues
  docs/component_details/TI4 ability compendium.csv
  docs/component_details/TI4 ability compendium.numbers
  src/ti4/core/combat.py
  src/ti4/core/constants.py
  src/ti4/core/dice.py
  src/ti4/core/movement.py
  src/ti4/core/production_ability.py
  src/ti4/core/rule89_validator.py
  src/ti4/core/system.py
  tests/test_rule_13_attacker.py
Due: mypy-src-strict, mypy-tests-standard, security-check, runtime-type-check

Implement CodeRabbit review suggestions
  src/ti4/core/combat.py
  src/ti4/core/constants.py
  src/ti4/core/movement.py
  src/ti4/core/production_ability.py
  src/ti4/core/system.py
Due: mypy-src-strict, security-check

Address CodeRabbit nitpicks from PR 17
  src/ti4/core/combat.py
  src/ti4/core/system.py
Due: mypy-src-strict, security-check

Address CodeRabbit feedback for PR #17
  review_response.txt
  src/ti4/core/combat.py
Due: mypy-src-strict, security-check

feedback
  src/ti4/core/combat.py
Due: mypy-src-strict, security-check

Implement Rule 29 (DEFENDER): Complete defender identification system
  .trae/lrr_analysis/29_defender.md
  IMPLEMENTATION_ROADMAP.md
  tests/test_rule_29_defender.py
Due: mypy-tests-standard, runtime-type-check

Path conditions:
  mypy-src-strict: any of: ^src/
  mypy-tests-standard: any of: ^tests/
  security-check: any of: ^src/
  runtime-type-check: any of: ^tests/
